{% extends 'images/base.html' %}


{% block content %}
<main>
  <h1>
    Image Generator
  </h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Plattform</th>
      <th>Grösse</th>
    </tr>
  </thead>
  <tbody>
    {% for template in template_list %}
    <tr>
      <td>
        <a href="{{template.get_absolute_url}}">
        {{template.name}}
        </a>
      </td>
      <td>{{template.plattform}}</td>
      <td>{{template.width}}px/{{template.height}}px</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</main>
{% endblock %}
